[data-theme='tucker-theme'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.25rem;
	--radius-container: 0.25rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(93.51% 0.02 261.78deg);
	--color-primary-100: oklch(86.22% 0.04 259.18deg);
	--color-primary-200: oklch(78.94% 0.07 258.85deg);
	--color-primary-300: oklch(71.34% 0.1 258.65deg);
	--color-primary-400: oklch(64.14% 0.12 258.53deg);
	--color-primary-500: oklch(57.09% 0.15 258.44deg);
	--color-primary-600: oklch(52.86% 0.14 258.42deg);
	--color-primary-700: oklch(48.54% 0.12 258.41deg);
	--color-primary-800: oklch(44.09% 0.11 258deg);
	--color-primary-900: oklch(39.56% 0.1 257.9deg);
	--color-primary-950: oklch(34.9% 0.08 257.76deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(94.73% 0.03 225.65deg);
	--color-secondary-100: oklch(88.85% 0.06 225.97deg);
	--color-secondary-200: oklch(83.01% 0.09 228deg);
	--color-secondary-300: oklch(77.78% 0.11 229.99deg);
	--color-secondary-400: oklch(72.74% 0.13 233.18deg);
	--color-secondary-500: oklch(68.47% 0.15 237.31deg);
	--color-secondary-600: oklch(63.2% 0.14 237.15deg);
	--color-secondary-700: oklch(57.81% 0.12 236.9deg);
	--color-secondary-800: oklch(52.61% 0.11 236.42deg);
	--color-secondary-900: oklch(46.95% 0.1 235.97deg);
	--color-secondary-950: oklch(41.13% 0.08 235.44deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(98.15% 0.01 97.21deg);
	--color-tertiary-100: oklch(96.05% 0.01 94.14deg);
	--color-tertiary-200: oklch(93.86% 0.02 95.93deg);
	--color-tertiary-300: oklch(91.77% 0.03 94.33deg);
	--color-tertiary-400: oklch(89.58% 0.04 95.45deg);
	--color-tertiary-500: oklch(87.46% 0.05 94.87deg);
	--color-tertiary-600: oklch(80.64% 0.04 94.77deg);
	--color-tertiary-700: oklch(73.66% 0.04 95.11deg);
	--color-tertiary-800: oklch(66.84% 0.03 95.54deg);
	--color-tertiary-900: oklch(59.49% 0.03 96.09deg);
	--color-tertiary-950: oklch(51.94% 0.03 96.2deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(96.15% 0.04 123.64deg);
	--color-success-100: oklch(91.85% 0.08 124.79deg);
	--color-success-200: oklch(87.93% 0.12 126.24deg);
	--color-success-300: oklch(83.94% 0.16 127.29deg);
	--color-success-400: oklch(80.39% 0.19 128.93deg);
	--color-success-500: oklch(76.81% 0.2 130.85deg);
	--color-success-600: oklch(70.9% 0.19 130.64deg);
	--color-success-700: oklch(64.8% 0.17 130.64deg);
	--color-success-800: oklch(58.88% 0.15 130.5deg);
	--color-success-900: oklch(52.47% 0.14 130.49deg);
	--color-success-950: oklch(45.93% 0.12 130.07deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(96.66% 0.04 92.8deg);
	--color-warning-100: oklch(92.85% 0.07 92.93deg);
	--color-warning-200: oklch(89.28% 0.11 92.19deg);
	--color-warning-300: oklch(85.8% 0.14 91.57deg);
	--color-warning-400: oklch(82.61% 0.16 89.43deg);
	--color-warning-500: oklch(79.53% 0.16 86.04deg);
	--color-warning-600: oklch(73.44% 0.15 86.42deg);
	--color-warning-700: oklch(67.23% 0.14 86.89deg);
	--color-warning-800: oklch(60.78% 0.12 86.11deg);
	--color-warning-900: oklch(54.25% 0.11 86.67deg);
	--color-warning-950: oklch(47.51% 0.1 87.45deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(91.97% 0.03 17.76deg);
	--color-error-100: oklch(82.91% 0.07 18.63deg);
	--color-error-200: oklch(74.34% 0.11 20.01deg);
	--color-error-300: oklch(66.21% 0.15 22.14deg);
	--color-error-400: oklch(59.73% 0.19 25.09deg);
	--color-error-500: oklch(55.08% 0.21 28.1deg);
	--color-error-600: oklch(50.95% 0.2 28.05deg);
	--color-error-700: oklch(46.59% 0.18 27.89deg);
	--color-error-800: oklch(42.27% 0.16 27.8deg);
	--color-error-900: oklch(37.71% 0.14 27.53deg);
	--color-error-950: oklch(33.15% 0.12 27.32deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-light);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(91.25% 0.01 247.94deg);
	--color-surface-100: oklch(81.32% 0.03 246.25deg);
	--color-surface-200: oklch(70.85% 0.04 247.22deg);
	--color-surface-300: oklch(60.44% 0.06 247.97deg);
	--color-surface-400: oklch(49.46% 0.08 248.98deg);
	--color-surface-500: oklch(38.69% 0.09 250.7deg);
	--color-surface-600: oklch(36.04% 0.08 250.42deg);
	--color-surface-700: oklch(33.31% 0.08 249.63deg);
	--color-surface-800: oklch(30.36% 0.07 251.17deg);
	--color-surface-900: oklch(27.51% 0.06 250.28deg);
	--color-surface-950: oklch(24.62% 0.05 249.78deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}