@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  /* By default, <html> and <body> may collapse vertically and not 
  extend to full height of the viewport. This resets them  */
  @apply h-full;
}

body {
  @apply bg-white dark:bg-surface-800;
}

/* Override the link styles that Skeleton's table of contents apply */
.permalink {
  font-size: 0.8em;
  text-decoration: none;
  margin-left: 0.5em;
}
